[features]
resolution = true
skip-lint = false

[programs.localnet]
human_registry = "HReg1111111111111111111111111111111111111111"
human_pay = "HPay1111111111111111111111111111111111111111"
data_blink = "DBnk1111111111111111111111111111111111111111"

[programs.devnet]
human_registry = "HReg1111111111111111111111111111111111111111"
human_pay = "HPay1111111111111111111111111111111111111111"
data_blink = "DBnk1111111111111111111111111111111111111111"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 5000

[test.validator]
url = "https://api.mainnet-beta.solana.com"

[[test.validator.clone]]
address = "TokenzQdBNbLqP5VEhdkAS6EPFLC1PHnBqCXEpPxuEb"

[[test.validator.clone]]
address = "TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"
